@page "/recettes"
@using RecettesIndex.Data
@inject HttpClient Http

<PageTitle>Recettes</PageTitle>

<h1>Recettes</h1>

@if (recettes == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date création</th>
                <th>Livre</th>
                <th>Page</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recette in recettes)
            {
                <tr>
                    <td>
                        <a href="/recetteDetails/@recette.Id">@recette.Name</a>
                    </td>
                    <td>@recette.CreatedAt.ToShortDateString()</td>
                    <td>
                        @if (recette.Book != null)
                        {
                            <a href="/bookDetails/@recette.BookId">@recette.Book.Name</a>
                        }
                    </td>
                    <td>
                        @if (recette.Page.HasValue)
                        {
                            <div>p. @recette.Page</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public required IRecetteRepository recetteRepository { get; set; }
    private Recette[]? recettes;

    protected override async Task OnInitializedAsync()
    {
        recettes = await recetteRepository.GetRecettes();
    }
}
