@page "/books"
@using RecettesIndex.Data
@inject HttpClient Http

<PageTitle>Livres</PageTitle>

<h1>Livres</h1>

@if (books == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <RecettesIndex.Features.Books.Components.BooksList Books="books" />
}

@code {
    [Inject]
    public required IBookRepository bookRepository { get; set; }
    private Book[]? books;

    protected override async Task OnInitializedAsync()
    {
        books = await bookRepository.GetBooks();
    }
}
