@page "/books/Details/{Id:int}"
@using RecettesIndex.Data
@using RecettesIndex.Services


@if (book == null)
{
    <RecettesPageTitle>Chargement...</RecettesPageTitle>
    <p><em>Chargement...</em></p>
}
else
{
    <RecettesPageTitle>@book.Title</RecettesPageTitle>
    <MudText Typo="Typo.h1">@book.Title</MudText>
    <MudField Label="Auteur">
        @if (book.Authors != null)
        {
            <RecettesIndex.Features.Authors.Components.AuthorsList Authors="book.Authors" />
        }
    </MudField>
    <MudField Label="Date">@book.CreatedAt.ToShortDateString()</MudField>

    <MudText Typo="Typo.h2">Recettes</MudText>
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="@recettes" />

    <MudLink Href="/books">Retour à la liste des livres</MudLink>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Book? book;
    private Recette[]? recettes;

    [Inject]
    public required RecetteService recetteService { get; set; }
    [Inject]
    public required BookService bookService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        book = await bookService.GetBook(Id);
        recettes = await recetteService.GetRecettesByBook(Id);
    }
}