<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Nom</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var author in Authors)
        {
            <TableRow>
                <TableRowHeader>
                    <a href="/authors/Details/@author.Id">@author.FullName</a>
                </TableRowHeader>
            </TableRow>
        }
    </TableBody>
</Table>

@code {
    [Parameter]
    public IEnumerable<Author> Authors { get; set; } = new List<Author>();
}
