@page "/authors"
@using RecettesIndex.Data
@inject HttpClient Http

<PageTitle>Auteurs</PageTitle>

<h1>Auteurs</h1>

@if (authors == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in authors)
            {
                <tr>
                    <td>@author.FullName</td>
                    <td>@author.CreatedAt.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public required IAuthorRepository authorRepository { get; set; }
    private Author[]? authors;

    protected override async Task OnInitializedAsync()
    {
        authors = await authorRepository.GetAuthors();
    }
}
