@page "/"
@inject HttpClient Http

<PageTitle>Recettes</PageTitle>


@if (recettes == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <Heading Size="HeadingSize.Is1" TextColor="TextColor.Light"> Derniers ajouts</Heading">
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="recettes" />
}
@code {
    Recette[]? recettes;

    protected override async Task OnInitializedAsync()
    {
        recettes = await Http.GetFromJsonAsync<Recette[]>($"api/recettes/latest/5");
    }

}
