@page "/"
@inject HttpClient Http

<RecettesPageTitle>Accueil</RecettesPageTitle>

<MudText Typo="Typo.h1">Derniers ajouts</MudText>
@if (recettes == null)
{
    <RecettesPageTitle>Chargement...</RecettesPageTitle>
    <p><em>Chargement...</em></p>
}
else
{
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="recettes" />
}
@code {
    Recette[]? recettes;

    protected override async Task OnInitializedAsync()
    {
        recettes = await Http.GetFromJsonAsync<Recette[]>($"api/recettes/latest/5");
    }

}
