@page "/"
@using RecettesIndex.Services

<RecettesPageTitle>Accueil</RecettesPageTitle>
<MudText Typo="Typo.h1">Bienvenue sur Recettes</MudText>

@if (latestRecettes == null || randomRecettes == null)
{
    <RecettesPageTitle>Chargement...</RecettesPageTitle>
    <p><em>Chargement...</em></p>
}
else
{
    <MudText Typo="Typo.h2">Derniers ajouts</MudText>
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="latestRecettes" />

    <MudText Typo="Typo.h2">Recettes aléatoires</MudText>
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="randomRecettes" />
}
@code {
    Recette[]? latestRecettes;
    Recette[]? randomRecettes;

    [Inject]
    public required RecetteService recetteRepository { get; set; }
    protected override async Task OnInitializedAsync()
    {
        latestRecettes = await recetteRepository.GetLatestRecettes();
        randomRecettes = await recetteRepository.GetRandomRecettes();
    }
}
