<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Titre</TableHeaderCell>
            <TableHeaderCell>Auteur</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var book in Books)
        {
            <TableRow>
                <TableRowHeader>
                    <a href="/books/Details/@book.Id">@book.Title</a>
                </TableRowHeader>
                <TableRowCell>
                    @if (book.Author != null)
                    {
                        <a href="/authors/Details/@book.Author.Id">@book.Author.FullName</a>
                    }
                </TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>
@code {
    [Parameter]
    public IEnumerable<Book> Books { get; set; } = new List<Book>();
}
