<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Books)
        {
            <tr>
                <td>
                    <a href="/books/Details/@book.Id">@book.Title</a>
                </td>
                <td>
                    @if (book.Author != null)
                    {
                        <a href="/authors/Details/@book.Author.Id">@book.Author.FullName</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public IEnumerable<Book> Books { get; set; } = new List<Book>();
}
