<MudNavMenu>
    <div class="d-flex justify-center py-4">
        <MudImage Src="/icons/recipe-icon.svg" Alt="Logo" Width="60" Height="60" Class="mt-4 mb-3" />
    </div>
    
    <MudDivider Class="mb-2" />
    
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
        Accueil
    </MudNavLink>
    <MudNavLink Href="recipes" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.MenuBook">
        Recettes
    </MudNavLink>
    <MudNavLink Href="books" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.LibraryBooks">
        Livres
    </MudNavLink>
    <MudNavLink Href="authors" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">
        Auteurs
    </MudNavLink>
    
    <MudSpacer />
    <MudDivider Class="mb-2" />
    
    <div class="d-flex flex-column align-center px-4 mb-4">
        <MudText Typo="Typo.caption" Class="mb-2" Align="Align.Center">RecettesIndex</MudText>
        <MudText Typo="Typo.caption" Align="Align.Center" Style="opacity: 0.7;">Votre collection personnelle de recettes</MudText>
    </div>
</MudNavMenu>
