<Table class="table" Style="style">
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>Nom</TableHeaderCell>
            <TableHeaderCell>Livre</TableHeaderCell>
            <TableHeaderCell>Page</TableHeaderCell>
            <TableHeaderCell>Note</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var recette in Recettes)
        {
            <TableRow>
                <TableRowHeader>
                    <a href="/recettes/Details/@recette.Id">@recette.Name</a>
                </TableRowHeader>
                <TableRowCell>
                    @if (recette.Book != null)
                    {
                        <a href="/books/Details/@recette.BookId">@recette.Book.Name</a>
                    }
                </TableRowCell>
                <TableRowCell>
                    @if (recette.Page.HasValue)
                    {
                        <div>p. @recette.Page</div>
                    }
                </TableRowCell>
                <TableRowCell>
                    <div>
                        <Rating Color="Color.Primary" @bind-SelectedValue="@recette.Rating" MaxValue="5" ReadOnly />
                    </div>
                </TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code {

    [Parameter]
    public IEnumerable<Recette> Recettes { get; set; } = new List<Recette>();
}
