@page "/recetteDetails/{Id:int}"
@using RecettesIndex.Data
@inject HttpClient Http

<Heading>Recette</Heading>

@if (recette == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <dl>
        <dt>Recette</dt>
        <dd>@recette.Name</dd>
        <dt>Livre</dt>
        <dd>
            @if (recette.Book != null)
                {
                    <a href="/bookDetails/@recette.Book.Id">@recette.Book.Name</a>
                }
        </dd>
        <dt>Date</dt>
        <dd>@recette.CreatedAt.ToShortDateString()</dd>
        <dt>Note</dt>
        <dd>
            @if (recette.Rating.HasValue)
            {
                <div>@recette.Rating.Value.ToString("0.0")</div>
            }
        </dd>
    </dl>

    <a href="/recettes">Retour à la liste des recettes</a>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Recette? recette;
    protected override async Task OnInitializedAsync()
    {
        recette = await Http.GetFromJsonAsync<Recette>($"api/recettes/{Id}");
    }
}