@page "/books"
@using RecettesIndex.Data
@inject HttpClient Http

<PageTitle>Livres</PageTitle>

<h1>Livres</h1>

@if (books == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Name</td>
                    <td>@book.CreatedAt.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public required IBookRepository bookRepository { get; set; }
    private Book[]? books;

    protected override async Task OnInitializedAsync()
    {
        books = await bookRepository.GetBooks();
    }
}
