@page "/authors/Details/{Id:int}"
@using RecettesIndex.Data
@inject HttpClient Http

<h1>Auteur</h1>

@if (author == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <dl>
        <dt>Nom</dt>
        <dd>@author.FullName</dd>
        <dt>Date</dt>
        <dd>@author.CreatedAt.ToShortDateString()</dd>
    </dl>

    <h2>Recettes</h2>
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="@recettes" />

    <h2>Livres</h2>
    <RecettesIndex.Features.Books.Components.BooksList Books="@books" />

    <MudLink Href="/authors">Retour à la liste des auteurs</MudLink>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Author? author;
    private Recette[]? recettes;
    private Book[]? books;
    protected override async Task OnInitializedAsync()
    {
        author = await Http.GetFromJsonAsync<Author>($"api/authors/{Id}");
        recettes = await Http.GetFromJsonAsync<Recette[]>($"api/recettes/author/{Id}");
        books = await Http.GetFromJsonAsync<Book[]>($"api/books/author/{Id}");
    }
}