@page "/authors"
@using RecettesIndex.Data
@inject HttpClient Http

<PageTitle>Auteurs</PageTitle>

<DisplayHeading TextColor="TextColor.Light">Auteurs</DisplayHeading>

@if (authors == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <RecettesIndex.Features.Authors.Components.AuthorsList Authors="authors" />
}

@code {
    [Inject]
    public required IAuthorRepository authorRepository { get; set; }
    private Author[]? authors;

    protected override async Task OnInitializedAsync()
    {
        authors = await authorRepository.GetAuthors();
    }
}
