@page "/authors"
@using RecettesIndex.Data
@inject HttpClient Http

<RecettesPageTitle>Auteurs</RecettesPageTitle>

<MudText Typo="Typo.h1">Auteurs</MudText>

@if (authors == null)
{
    <RecettesPageTitle >Chargement...</RecettesPageTitle>
    <p><em>Chargement...</em></p>
}
else
{
    <RecettesIndex.Features.Authors.Components.AuthorsList Authors="authors" />
}

@code {
    [Inject]
    public required IAuthorRepository authorRepository { get; set; }
    private Author[]? authors;

    protected override async Task OnInitializedAsync()
    {
        authors = await authorRepository.GetAuthors();
    }
}
