@using RecettesIndex.Components
@layout RootLayout
@inherits LayoutComponentBase
@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
 <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
                <SideMenu />
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutHeader Fixed>
                <TopMenu />
            </LayoutHeader>
            <LayoutContent Padding="Padding.Is4.OnX">
                @Body
            </LayoutContent>
        </Layout>
    </Layout>

   @code {
        [CascadingParameter] protected Theme Theme { get; set; }
   }